server:
  port: 8000

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/payment_gateway
    username: gateway_user
    password: gateway_pass

  jpa:
    hibernate:
      ddl-auto: none

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
